.project-tutorials {
	padding: 40px 20px;
	background-color: #1f1f1f;
}

.project-tutorials .projects {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}

.project-card {
	background-color: #252525;
	padding: 20px;
	width: 250px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s;
}

.project-card:hover {
	transform: translateY(-5px);
}
